<div class="container">
  <div class="row">
    <div class="col-4 card bg-primary bg-gradient" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="col-4 card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="col-4 card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="appointmentForm" (ngSubmit)="scheduleMeeting()">
      <label for="appointmentTime">Meeting Time</label>
      <input type="datetime-local" id="appointmentTime" formControlName="appointmentTime">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
      <br />
      <button type="submit" id="schedule-button">Schedule Appointment</button>

    </form>
  </div>
</div>